<ul>
    <a href="http://igg.me/at/highfin?_CACHE_CONTROL_=1365956700549"><li>Crowdfund Us</li></a>
    <a href="https://github.com/YoavGivati/highfin.js"><li>Fork on GitHub</li></a>
    <a href="/highfinjs/highfin.js-v1.0.0.zip"><li>Download HighFin.js (v1.0.0)</li></a>
</ul>
<h2>HighFin.js API Documentation<br /><span class="alert">work in progress...</span></h2>
<ul>
    <a href="/#!/api/overview/"><li class="nav_api_overview">API Overview</li></a>
    <a href="/#!/api/folder-overview"><li class="nav_api_folder-overview">Folder Overview</li></a>  
    <a href="/#!/api/quickstart"><li class="nav_api_quickstart">Quick Start</li></a>                      
</ul>
<h3>Front-end</h3>
<ul class="sub">
    <a href="/#!/api/frontend/instantiate/"><li class="nav_api_frontend_instantiate">Instantiate HighFin</li></a>
</ul>
<h3>Templates</h3>
<ul class="sub">
    <a href="/#!/api/templates/overview"><li class="nav_api_templates_overview">Templating Overview</li></a>
    <a href="/#!/api/templates/forms"><li class="nav_api_templates_forms">Forms</li></a>                         
</ul>
<h3>Misc.</h3>
<ul class="sub">
    <a href="/#!/api/misc/syntax-highlighting"><li class="nav_api_misc_syntaxhighlight">Syntax Highlighting</li></a>
</ul>
<br />
<h2>Social</h2>
<ul>
    <a href="https://www.facebook.com/Highfin"><li>Like us on Facebook</li></a>
    <a href="https://plus.google.com/103860776334708316025/about"><li>Circle us on Google+</li></a>
    <a href="https://twitter.com/highfinjs"><li>Follow us on Twitter</li></a>

</ul>

