 <div id="container" >
            
    <!-- CONTENT -->
        <div id="content" >
              
            


            


            <!-- content -->
            <div id="bottom_container" >
                <div id="readable_content">
                    
                    <!--
                    <pre class="prettyprint lang-javascript linenums">
/* 
use log() instead of console.log() to prevent client side errors in some browsers 
that lack a console.
@msg = [String or Object] what to print in the console
*/
function log(msg) {
    if(typeof console !== 'undefined') {
         console.log(msg);
    }
}
                    </pre>
                -->
                </div>

                <div id="sidebar">
                    

                </div>

            </div>
        </div>
    <!-- END CONTENT -->
    <!-- FOOTER -->
       <!-- <div id="footer" >
         <hr id="nav-divider" />
            <div class="footer-bar">
                <h1>Footer</h1> <a href="/help.html">Help</a>
            </div>
        </div>
        -->
        </div>
<!-- END FOOTER -->
</div>
