<h1>About HighFin</h1>
<p>HighFin is a SaaSy PaaS based in Toronto that launched in March 2013 as a subsidiary of <a href="http://chalkhq.com?_CACHE_CONTROL_=1365898914701">ChalkHQ</a>. We have an open source dev framework written in Node.js and GO and are currently seeking crowdfunding and outside investment to fund further development.</p>


<h1>The Team</h1>
<p><img src="/assets/imgs/me.png" align="left" width="133" height="133" /><span class="prettyprint">Yoav - Founder:</span> Nurturing innovation is a serious passion of mine. I’ve worked at several startups, mentor, and started some of my own. Unnecessary overhead in terms of cost, time, and attention are serious inhibitors of innovation. Don't waste cycles. You shouldn’t have to reinvent the wheel or rediscover found land. You need a service that takes unnecessary burdens and learning curves that you would otherwise have to deal with and minimizes them to nothing so you can put 100% of your mental focus on inventing something new to change the world. I blog at <a href="http://yoavgivati.com">YoavGivati.com</a>. Circle me on <a href="https://plus.google.com/114900621595824863815/about">Google+</a> and send email to <a href="">yoav@highf.in</a>.</p>
<p></p>


<h3>Hey, interested in joining the team?</h3>
<p>We're looking to build out our core team, so send an email to <a href="mailto:jobs@highf.in">jobs@highf.in</a> with a little about yourself.</p>