<div id="layout">
    <div class="top_text">
        <h2 class="hidden">Project Management</h2>
        <p>Manage tasks assigned to teams and individuals and see what everyone is focusing on in real-time. Outsource tasks with guest access, keep track of assets and deliverables, report issues, review code, and get a default workflow that makes staging and QA first class citizens without sacrificing agility.</p>

        <h2 class="hidden">Communication</h2>
        <p>Get a central IM(instant message) nervous system. Start one-on-one or group chats and share embedded code, images, and video. Access user presence, logs, and real-time analytics alongside chat rooms. Get notified instantly via IM if something goes wrong with your app and enable your users to get first-tier customer support from the first available team member directly on your site.</p>

        <h2 class="hidden">Hosting</h2>
        <p>The Framework enables agile teams to write robust web apps and data endpoints, with terse powerful code that boasts smart templating, cache management, and the utilitiy you’d expect from a modern app development library. Your project benefits from an automated dedicated box in which you can run multiple processes and hook up to your own running database instances without juggling hosting plans, tiers, or headache.</p>
    </div>

    <div class="bottom_text">
        <h2 class="hidden">Tools</h2>
        <p>Our Drag &amp; Drop site creation tool empowers marketing, biz-dev, and UX teams to create interactive demos, landing pages, and prototypes without code &mdash; so engineering can stay focused on building core product.</p>

        <h2 class="hidden">Efficiency</h2>
        <p>We take the sysadmin work out of the equation and provide an integrated solution so your team can create, iterate, and pivot without the overhead of managing tiers and integration between multiple services.</p>

        <h2 class="hidden">Modularity</h2>
        <p>HighFin is designed to take your project to the next level. Our services are modular and the framework is open source so you can scale up and out to 3rd parties with granular control. There is no lock in, only flexibility and simplicity.</p>
    </div>

</div>

